<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  

  <header> 

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">FUN ESCALADE</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Acceuil</a></li>
            <li><a href="/myaccount">Mon Compte</a></li>
            <li><a href="/topo">Topo</a></li>
            <li><a href="/sites">Sites</a></li>
            <li><a href="/connexion">Connexion</a></li>
          </ul>
        </div>
      </nav>
        <div class="container">
          <div class="row"> <h1 class="col-lg-12">Fun Escalade: Partagez votre Passion</h1></div>
        </div>


    </header>  

    <h1> Création d'un nouveau compte: <h1>
       
      <form class="well" action='#' th:action="@{/account}" th:object="${utilisateur}" method="post">
  <legend>Merci de bien vouloir renseigner les champs suivants</legend>
  <h4>Votre sexe ?</h4>
  <fieldset>
    <div class="radio">
      <label for="ami" class="radio">
        <input type="radio" name="origine" value="homme" id="homme" th:field="*{sex}">
        <p>Homme</p> 
      </label>
    </div>
    <div class="radio">
      <label for="web" class="radio">
        <input type="radio" name="origine" value="femme" id="femme"th:field="*{sex}">
        <p>Femme</p> 
      </label>
    </div>

    <h4> Votre nationalité ?</h4>

    <div class="radio">
      <label for="ami" class="radio">
        <input type="radio" name="origine" value="Francais" id="francais" th:field="*{birthPlace}">
        <p>Francais</p> 
      </label>
    </div>
    <div class="radio">
      <label for="web" class="radio">
        <input type="radio" name="origine" value="Espagnol" id="espagnol" th:field="*{birthPlace}">
        <p>Espagnol</p> 
      </label>

      <div class="radio">
      <label for="ami" class="radio">
        <input type="radio" name="origine" value="Italien" id="Italien" th:field="*{birthPlace}">
        <p>Italien</p> 
      </label>
    </div>
    <div class="radio">
      <label for="web" class="radio">
        <input type="radio" name="origine" value="Anglais" id="Anglais" th:field="*{birthPlace}">
        <p>Anglais</p> 
      </label>
    </div>
    <div class="radio">
      <label for="ami" class="radio">
        <input type="radio" name="origine" value="autre" id="autre" th:field="*{birthPlace}">
        <p>autre</p> 
      </label>
    </div>
    </div>
          <h4> Votre date de naissance</h4>

          <input type="date" name="anniversaire" th:field="*{birthDate}">
  
    
      

      <h4> Votre adresse mail</h4>

      <label for="textarea"> <p>votre mail : </p></label>
      <textarea id="textarea" class="form-control" rows="1" th:field="*{mail}">  </textarea>
      <label for="textarea"> <p>confirmation : </p></label>
      <textarea id="textarea" class="form-control" rows="1"></textarea>
      
      
      <h4> Votre pseudo</h4>

      <label for="textarea"> <p>pseudo : </p></label>
      <textarea id="textarea" class="form-control" rows="1" th:field="*{username}">  </textarea>
      
       <h4> Votre mot de passe</h4>

      <label for="textarea"> <p>mot de passe </p></label>
      <textarea id="textarea" class="form-control" rows="1" th:field="*{password}">  </textarea>
      
      <label for="textarea"> <p>confirmation : </p></label>
      <textarea id="textarea" class="form-control" rows="1"></textarea>
      
      <h4> Votre prénom</h4>

      <label for="textarea"> <p>prénom: </p></label>
      <textarea id="textarea" class="form-control" rows="1" th:field="*{firstname}">  </textarea>
      
       <h4> Votre nom</h4>

      <label for="textarea"> <p>nom: </p></label>
      <textarea id="textarea" class="form-control" rows="1" th:field="*{name}">  </textarea>
      
      <div class="form-group">
  <label class="col-md-4 control-label" for="Validez"></label>
  <div class="col-md-4">
    <button id="Validez" name="Validez" class="btn btn-default">Validez</button>
  </div>
</div>
  </fieldset>


</form>





</body>
</html>